<!-- Navigation-->
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="/app/show">Inicio</a>
                <a class="navbar-brand" href="/app/agregar_servicio">Crear Servicio</a>
                <a class="navbar-brand" href="/app/servicios">Lista de Servicios</a>
                <a class="navbar-brand" href="/app/agregar_mascota">Añadir Mascota</a>
                <a class="navbar-brand" href="/app/mascotas">Lista de Mascotas</a>
                <a class="navbar-brand" href="/app/agregar_medicamento">Añadir Medicamento</a>
                <a class="navbar-brand" href="/app/medicamentos">Lista de Medicamentos</a>
            </div>
        </nav>