<!-- Navigation-->
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="#!">Crear Usuario</a>
                <a class="navbar-brand" href="#!">Lista de Usuarios</a>
                <a class="navbar-brand" href="#!">Añadir Mascota</a>
                <a class="navbar-brand" href="#!">Lista de Mascotas</a>
                <a class="navbar-brand" href="#!">Añadir Medicamento</a>
                <a class="navbar-brand" href="#!">Lista de Medicamentos</a>
            </div>
        </nav>